body {
  background-color: #1c1c1c !important;
  font-family: 'Asap Condensed', sans-serif !important;
  font-size: 1.25rem;
  color: #1e8cfb !important;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
}

.tab-component {
  min-height: 10vh;
  min-width: 100vw;
  background-color: rgba(5, 5, 5, 0.5);
}

.font-weight-bold {
  font-weight: 600 !important;
}

.tab-active {
  border-bottom: 2.5px solid white !important;
}

.tab:hover {
  cursor: pointer;
  border-bottom: 2.5px solid rgba(255,255,255,0.3);
}

@media screen and (max-width: 768px) {  
  .tab-list {
    visibility: hidden;
  }
}